services:
    backend_setup:
        container_name: node_pos_test
        build:
            context: .
            target: test
        ports:
            - '3000:3000'
        env_file:
            - .env.test
        depends_on:
            - database_setup
        volumes:
            - ./:/app
            - /app/node_modules

    database_setup:
        container_name: mongo_pos_test
        image: mongo:7
        restart: always
        ports:
            - '127.0.0.1:27019:27017'
        volumes:
            - pos_mongo_data:/data/db

volumes:
    pos_mongo_data:
